<!DOCTYPE html>
<html>
  <head>
    <title><%= siteName %> | <%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/nav.css" />
  </head>
  <body>
      <header>
        <%- include('./partials/navigation') %>
      </header>
      <main>
        <%- include(`../pages/${template}`) %>
      </main>
      <footer>
        &copy; LuKa, 2020
      </footer>
    <%- include('./partials/scripts') %>
  </body>
</html>
